<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<h1>This is something....</h1>

<% sample = ["this", "is", "another", "array", "example"] %>


<% sample.each do |x| %>
<p><%= x %></p>
<% end %>
